**/.git
**/node_modules
front-end/dist
front-end/src/assets/config.json
front-end/src/environments/environment.dev.ts
front-end/src/environments/environment.prod.ts
front-end/src/environments/environment.test.ts
